################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocialGames.TechnicalTest/.vs/SocialGames.TechnicalTest/DesignTimeBuild
